name: Compilar Binarios Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64] 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Compilar para ${{ matrix.goos }}/${{ matrix.goarch }}
        run: |
          # 1. Definimos el nombre del binario de salida
          BIN_NAME="mi_programa-${{ matrix.goos }}-${{ matrix.goarch }}"
          
          # 2. Agregamos la extensión .exe solo si el target es Windows
          if [ "${{ matrix.goos }}" = "windows" ]; then
            BIN_NAME="$BIN_NAME.exe"
          fi
          
          # 3. Ejecutamos el comando de compilación cruzada
          # La opción -o define el nombre de salida.
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o $BIN_NAME .

      - name: Subir el Binario Compilado (Artifact)
        uses: actions/upload-artifact@v4
        with:
          name: Binario-Go-${{ matrix.goos }}-${{ matrix.goarch }}
          path: mi_programa-${{ matrix.goos }}-${{ matrix.goarch }}*